.about__wrapper {
    @include responsive-display(768px);
    border-top: 0;

    div {
        flex-grow: 1;
        -moz-flex-shrink: 1;
        -webkit-flex-shrink: 1;
        -ms-flex-shrink: 1;
        flex-shrink: 1;
        @include responsive-width(50%);
        position: relative;
    }

    .content div {
        font-size: $font-size-small;
        font-weight: 400;
        letter-spacing: 0.075em;
        margin: -0.5em 0 2em 0;
        text-transform: uppercase;
        width: 100%;
    }
    .image-block {
        @include responsive-margin(0 0 2em 4em, 2em 0 0 0);
        img {
            height: 100%;
            object-fit: cover;
            object-position: center;
            width: 100%;
            display: block;
            border-radius: $border-radius;
        }
    }
}