body {
    font-family: $font-family;
    font-size: $font-size-base;
    line-height: $line-height;
    color: $blue-grey;
}

h1 {
    @include heading-style($font-size-big, $font-size-big-mobile, 0, 0 0 0.5em 0, 0);
}

h2 {
    @include heading-style($font-size-large, $font-size-large, solid 3px #f56a6a, 0 0 2em 0, 0 0.75em 0.5em 0);
}

h3 {
    @include heading-style($font-size-medium, 0, 0 0 1em 0, 0);
}

p {
    font-size: $font-size-base;
    line-height: $line-height;
    margin-bottom: 2em;
}

a {
    color: $black-grey;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover,
    &:focus {
        color: $ligth-red;
    }
}

.icon:before,
#search form {
    font-family: 'FontAwesome';
}

input {
    font-family: $font-family;
}




